extends layout

block content
	#Main
		h1 #{title}
		p The private alpha testing period has ended. <a href="/">Sign up for our mailing list</a> to learn more about our next launch!
		p.credits A project by <a href="http://notioncollective.com">The Notion Collective</a>.