extends layout

block content
	#Main
		h1 #{title}
		p Send us a message and let us know what you think! You can also <a href="/newsletter">sign up for our newsletter</a> or <a target="_blank" href="http://twitter.com/hotairgame">follow us on Twitter</a>.
		ul#messages
		form#ContactForm(method="post", action="/contact/send")
			label(for="fromName") Your name
			input(name="fromName", type="text", id="fromName", placeholder="Joe Schmo")
			label(for="fromEmail") Your email address
			input(name="fromEmail", type="email", id="fromEmail", placeholder="joe@schmo.org")
			label(for="emailBody") Your message
			textarea(name="emailBody", id="emailBody")
			button(id="submit") Send!