extends layout

block content
	#Main
		p.digital We've got something in the works. Sign up here if you'd like to find out more!
		// Begin MailChimp Signup Form
		#mc_embed_signup
			form(action="http://hotairgame.us5.list-manage.com/subscribe/post?u=3e6fa1e44c44e4055b17c4070&amp;id=8e2569d77f", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate="novalidate")
				label#subscribe.digital(for="mce-EMAIL") Subscribe to our mailing list:
				input(type="email", value="", name="EMAIL", class="email", id="mce-EMAIL", placeholder="email address", required="requred")
				.clear: input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="button")
		p.credits A project by <a href="http://notioncollective.com">The Notion Collective</a>.