extends layout

block content
	#Main
		h1 Console not supported :(
		p For the alpha version of Hot Air we're only supporting Google Chrome. Don't worry, we'll support more browsers in the future! For now you can <a href="https://www.google.com/intl/en/chrome/browser/" title="Download Google Chrome" target="_blank">download Chrome</a> or <a href="/">sign up for our mailing list</a> to find out about the next release.
