extends layout

block content
	#Main
		h1 #{title}
		p.browser Hot Air only works in <a href="https://www.google.com/intl/en/chrome/browser/" title="Download Google Chrome" target="_blank">Google Chrome</a> currently