extends layout

block content
	#Main
		h1 Console not supported :(
		p For the alpha version of Hot Air we're only supporting Google Chrome and Apple's Safari. Don't worry, we'll support more browsers in the future! For now you can download <a href="https://www.google.com/intl/en/chrome/browser/" title="Download Google Chrome" target="_blank">Chrome</a> or <a href="http://support.apple.com/downloads/#Safari" target="_blank">Safari</a> &mdash; or <a href="/">sign up for our mailing list</a> to find out about the next release.
