doctype 5
html(lang="en")
	head
		title Hot Air
		meta(name="csrf-token", content=token)
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		- var html = '<script style="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-35454107-1"]);_gaq.push(["_trackPageview"]);(function(){var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})();</script>'
		!{html}

	body.loading(id="play")

		#loading-wrap
			img#LoadingImg(src="../img/notion_logo_8bitx2.png", width="500", height="100", alt="The Notion Collective")
			#LoadingDisplay Loading...

		.start-wrap
		
			// Instructions Display
			#InstructionsDisplay.modal
				h1 Instructions
				.modal-inner
					ul.keys
						li
							<span class="key" id="left-right-keys">Left/Right</span> Move your player
						li 
							<span class="key" id="up-down-keys">Up/Down Arrows</span> Select balloon (tweet)
						li 
							<span class="key" id="spacebar-key">Spacebar</span> Drop a dart
						li 
							<span class="key" id="enter-key">Enter</span> Pause the game
					p The game starts when you pick a side: Democrat or Republican. You can select each balloon and see the text of their tweet above. Your job is to identify party allies, and deflate your political opponents with a well-aimed dart.
					p Good luck, and have fun!
			#AboutDisplay.modal
				h1 About
				.modal-inner
					p Hot Air uses live twitter data from the <a href="http://www.tweetcongress.org/" target="_blank">@tweetcongress</a> lists "republican" and "democrats".	
					p Gameplay music: <a href="http://www.last.fm/music/Girljoy/_/Cloud+Loops?ac=cloud+loops+girlj" target="_blank">"Cloud Loops"</a> by Girljoy.
					p <a href="http://notioncollective.com" target="_blank">The Notion Collective</a> is an art-making group based in Brooklyn, NY.
					
			#HighScoresDisplay.modal
				h1 High Scores!
				.modal-inner
					| loading...
					
			#ErrorDisplay.modal
				h1 Whoops!
				.modal-inner
					p Sorry &mdash; something's gone wrong.  Please <a href='mailto:info@hotairgame.com'>let us know</a>, and try again later.
						
			// HIGH SCORES TEMPLATE
			script(id='HighScoresTemplate',type='text/template')
				| <div id="HighScores">	
				|		<ol class="highscores">
				|		<% _.each(highscores, function(highscore) { %>
				|			<li class="<%= highscore.party %>"><i class="<%= highscore.party %>"></i><%= highscore.user %> (<%= highscore.party.toUpperCase() %>) - <%= highscore.score %></li>
				|		<% }); %>
				|		</ol>
				|		<h2>Total Scores</h2>
				|		<ul class="cum">
				|			<li id="cumscore_d"><i class="d"></i><%= cumscore_d %></li>
				|			<li id="cumscore_r"><i class="r"></i><%= cumscore_r %></li>
				|		</ul>
				| </div>

			// MESSAGE DISPLAY TEMPLATE
			script(id='MessageDisplayTemplate',type='text/template')
				| <div id="MessageDisplay">
				|		<h1><%= message %></h1>
				| </div>
				
			// TWEET DISPLAY TEMPLATE
			script(id='TweetDisplayTemplate',type='text/template')
				| <div id="TweetDisplay">
				|		<div class='content'><%= text %></div>
				| </div>

			// PAUSE DISPLAY TEMPLATE
			script(id='PauseDisplayTemplate',type='text/template')
				| <div id="PauseDisplay">
				|		<h1>Paused</h1>
				| </div>
				
			// GAMEOVER DISPLAY TEMPLATE
			script(id='GameOverDisplayTemplate',type='text/template')
				| <div id="GameOverDisplay">
				|		<h1>Game Over</h1>
				| </div>


			// HIGHSCORE FORM
			script(id='HighScoreFormDisplayTemplate',type='text/template')
				|	<div id="HighScoreFormDisplay">
				|		<div id="NewHighscore">
				|			<h3>New High Score!</h3>
				|			<h2><%= score %></h2>
				|			<label for='gameover-name'>Enter your initials:</label>
				|			<div><input id="gameover-name" type='text' maxlength='3' size="3" /></div>
							
			// FULL SCREEN
			#FullScreenPrompt
				.prompt Press Esc for Fullscreen Mode

		#Footer
		
		- if (env === 'prod')
			include includes/prod-scripts
		- else if (env === 'dev')
			include includes/dev-scripts