doctype 5
head
  title "Hot Air [shhh... private beta]"
  link(rel='stylesheet', type='text/css', href='css/placeholder.css')
  link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
  script(src="js/placeholder.js", type="text/javascript", charset="utf-8")


body#privatebeta
  #Main
    p.digital Private Beta!
    p.credits A project by <a href="http://notioncollective.com">The Notion Collective</a>.

  