extends layout

block content
	#Main
		h1 #{title}
		p Welcome to the Hot Air private alpha test! For the <a href="http://www.debates.org/index.php?page=2012-2" target="_blank">2012 vice-presidential debate</a> we're giving a handful of people a sneak peak at this fun project we've been working on.
		p It's a web-based game that uses <a href="http://www.tweetcongress.org/" target="_blank">congressional Twitter data</a> to test your ability to parse the rhetoric of the Democrat-vs-Republican divide.
		p Intrigued? Try it out!
		a#play-btn(href='/play') Play Hot Air!
		p Want to hear about it when we release the next version? <a href="/">Subscribe to our mailing list!</a>
		p.credits A project by <a href="http://notioncollective.com">The Notion Collective</a>.