extends layout

block content
  #Main
    h1 #{title}
    iframe(src="https://docs.google.com/a/notioncollective.com/spreadsheet/embeddedform?formkey=dHNweVZVVU51X2l5Y3pQRWZNQmdVOUE6MQ", width="540", height="625", frameborder="0", marginheight="0", marginwidth="0") "Loading..."
    p.credits A project by <a href="http://notioncollective.com">The Notion Collective</a>.

  