/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a, a:visited, a:active {
	color: #00f;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Press Start 2P", Courier;
	background: #8CD0FF;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul.list-inline li {
	display: inline;
	margin: 20px 20px;
}

ul.list-inline li a:focus, ul.list-inline li a.focus {
	border-bottom: 5px solid #000;
}

ul.list-inline li a {
	text-decoration: none;
	padding: 5px;
	border: none;
	outline: none;
}

div.list-nav {
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	bottom: 80px;
	left: 0px;
	width: 100%;
	height: 30px;
	z-index: 1010;
	line-height: 2;
}

div.list-nav span {
	margin: 20px;
	padding: 5px;
	color: #FFF;
	cursor: pointer;
}

div.list-nav span.active {
	border-bottom: 5px solid #000;
}

div.list-nav span:hover {
	border-bottom: 5px solid #333;
}

/*#StartScreenGraphics {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: transparent url(../img/startscreen_basket.png) center 5% no-repeat;
	z-index: -100;
}
*/

div.modal {
	display: none;
	position: absolute;
	text-align: left;
	width: 600px;
	margin-left: -310px;
	margin-top: -310px;
	top: 50%;
	left: 50%;
	background: transparent url(../img/pause_bg.png) 0 0 repeat;
	padding: 20px;
	border: solid 5px #fff;
	z-index: 1000;
}

div.modal-inner p {
	margin: 20px 0px;
	line-height: 1.4;
}


div#PauseNav {
	bottom: 50%;
}

div#PauseNav span {
	color: #000;
}


#PauseDisplay, #GameOverDisplay {
	display: none;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	line-height: 2;
}

#GameOverDisplay {
	display: none;
}

#TweetDisplay, .tweet-display {
/*	display: none;*/
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
/*	background: #fff;*/
	background: transparent url(../img/tweet_display.png) 0 0 repeat-x;
/*	opacity: .8;*/
	text-align: center;
	font-size: .8em;
	line-height: 1.4em;
	padding: 0;
	overflow:hidden;
}

#FullScreenPrompt {
	position: absolute;
	text-align: center;
	bottom: 20px;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 1000;
	color: #fff;
	text-transform: uppercase;
	line-height: 2;	
}

#TweetDisplay .content, .tweet-display .content {
	margin: 10px 20px 20px 20px;
	height: 40px;
}

#PauseDisplay, #GameOverDisplay {
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent url(../img/pause_bg.png) 0 0 repeat;
	margin: 0;
	padding-top: 20%;
/*	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background: #FFF;
	border: 10px solid #000;
	margin-left: -400px;
	margin-top: -300px;
	width: 800px;
	height: 600px;	*/
}

.tweet-info-name {
	font-size: .6em;
	margin-bottom: 5px;
}

.tweet-info-screenname {
	font-size: .6em;
}
