/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a, a:visited, a:active {
	color: #000;
	text-decoration: none;
	border-bottom: 3px dotted #000;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: "Press Start 2P", Courier;
	background: #000;
}

#loading-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

#LoadingDisplay {
	position: absolute;
	left: 0;
	color: #8CD0FF;
	text-align: center;
	top: 66.66%;
	width: 100%;
}

img#LoadingImg {
	display: block;
	margin: 13% auto 0 auto;
	border: 0;
}

body.loaded {
	background: #8CD0FF url("../img/sky-top-fadex2.png") 0 0 repeat-x;
}

body.loaded #loading-wrap { display: none; }

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul.list-inline li {
	display: inline;
	margin: 20px 20px;
}

ul.list-inline li a:focus, ul.list-inline li a.focus {
	border-bottom: 5px solid #000;
}

ul.list-inline li a {
	text-decoration: none;
	padding: 5px;
	border: none;
	outline: none;
}

div.list-nav {
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	bottom: 100px;
	left: 0px;
	width: 100%;
/*	height: 30px;*/
	z-index: 1010;
	line-height: 2;
	padding: 16px 0;
	background: transparent url("../img/pause_bg.png") top left repeat;
}

div.list-nav span {
	margin: 20px;
	padding: 5px;
	color: #000;
	cursor: pointer;
}

div.list-nav span.active {
	border-bottom: 5px solid #000;
}

div.list-nav span:hover {
	border-bottom: 5px solid #333;
}

/*#StartScreenGraphics {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: transparent url(../img/startscreen_basket.png) center 5% no-repeat;
	z-index: -100;
}
*/

.message-display {
/*	display: none;*/
}


div.modal {
	display: none;
	position: absolute;
	text-align: left;
	width: 600px;
	margin-left: -310px;
	margin-top: -310px;
	top: 50%;
	left: 50%;
	background: transparent url(../img/pause_bg.png) 0 0 repeat;
	padding: 20px;
	border: 6px solid #fff;
	z-index: 1000;
}

div.modal h1 {
	margin-bottom: 16px;
	text-transform: uppercase;
}

div.modal-inner p {
	margin: 20px 0px;
	line-height: 1.4;
}


#InstructionsDisplay.modal {}
#InstructionsDisplay.modal ul.keys{
	
}

#InstructionsDisplay.modal ul.keys li {
	line-height: 32px;
	margin-top: 4px;
}
	
#InstructionsDisplay.modal .key {
	display: block;
	float: left;
	width: 68px;
	height: 32px;
	text-indent: -9999px;
	overflow: hidden;
	background: transparent url('../img/keysx2.png') 0 0 no-repeat;
	margin-right: 8px;
}

#InstructionsDisplay.modal #left-right-keys { background-position: 2px -96px}
#InstructionsDisplay.modal #up-down-keys { background-position: 2px -64px}
#InstructionsDisplay.modal #spacebar-key { background-position: 0 -0px}
#InstructionsDisplay.modal #enter-key { background-position: 4px -32px}


div#PauseNav, div#GameOverNav {
	bottom: 50%;
}

div#PauseNav span, div#GameOverNav span {
	color: #000;
}


#PauseDisplay, #GameOverDisplay {
	display: none;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	line-height: 2;
}

#HighScores {
  margin-top: 30px;
}

#HighScores ol.highscores {
  list-style-type: decimal;
  list-style-position: inside; 
}

#HighScores ol.highscores li {
  
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;

}

#HighScores li i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: transparent url("../img/20x2.png") 0 0 no-repeat;
}
#HighScores li i.r { background-position: -50px -10px; }
#HighScores li i.d { background-position: -10px -10px; }

#HighScores h2 {
	text-align: center;
	text-transform: uppercase;
	margin: 20px 0;
}
#HighScores ul.cum {}
#HighScores ul.cum li {
	float: left;
	width: 275px;
  background: #fff;
  padding: 10px;
	margin-right: 10px;
}
#HighScores ul.cum li#cumscore_r {
	margin-right: 0;
	text-align: right;
}


#TweetDisplay, .tweet-display {
/*	display: none;*/
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
/*	background: #fff;*/
	background: transparent url(../img/tweet_display.png) 0 0 repeat-x;
/*	opacity: .8;*/
	text-align: center;
	font-size: .8em;
	line-height: 1.4em;
	padding: 0;
	overflow:hidden;
}

#FullScreenPrompt {
	display: none;
	position: absolute;
	text-align: center;
	bottom: 20px;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 1000;
	color: #fff;
	text-transform: uppercase;
	line-height: 2;	
}

#TweetDisplay .content, .tweet-display .content {
	margin: 10px 20px 20px 20px;
	height: 40px;
}

#PauseDisplay, #GameOverDisplay, #MessageDisplay {
	z-index: 1000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent url(../img/pause_bg.png) 0 0 repeat;
	margin: 0;
	padding-top: 10%;
/*	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	background: #FFF;
	border: 10px solid #000;
	margin-left: -400px;
	margin-top: -300px;
	width: 800px;
	height: 600px;	*/
}

#GameOverDisplay {
	background: none;
}

#HighScoreFormDisplay {
	z-index: 1000;
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 2;
}

#MessageDisplay {
	display: none;
	background: none;
	text-align: center;
	top: 20%;
}

#HighScoreFormDisplay h2 {
	font-size: 3em;
}

#HighScoreFormDisplay input {
	font-size: 2em;
	border: none;
	padding: 10px;
	font-family: "Press Start 2P", Courier;
}



#Footer {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 600px;
	width: 100%;
	background: transparent url("../img/sky-bottom-fadex2.png") bottom left repeat-x;
}

body.loaded #Footer { display: block; }

.tweet-info-name {
	font-size: .6em;
	margin-bottom: 5px;
}

.tweet-info-screenname {
	font-size: .6em;
}
